body {
  background: #797979;
  font-family: sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type="text"] {
  background-color: #ffffff;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
}

#search {
  width: 340px;
}

#res {
  width: 50px;
}

button {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: aqua;
}
