{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="box">
  <form action="#" method="post">
    <input type="text" name="search" placeholder="What are you looking for?" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
{% endblock %}
