{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="box">
  <form action="#" method="post">
    <input type="text" name="search" placeholder="What are you looking for?" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button><br>
    <input type="radio" name="met" id="option1" value="Probabilistik"> Probabilistik </input>
    <input type="radio" name="met" id="option2" value="tf-idf"> TF-IDF </input><br>
    <input type="radio" name="res" id="optionr1" value="5"> Top 5 </input>
    <input type="radio" name="res" id="optionr2" value="10"> Top 10 </input><br>
  </form>
</div>
{% endblock %}
