{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/respond.css') }}"
/>
<link
  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="box">
  <form action="#" method="post">
    <input id="search" type="text" name="search" placeholder="What are you looking for?" />
    <input id="res" type="text" name="res" placeholder="Show the top ... result" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input type="radio" name="met" id="option1" value="Probabilistik"> Probabilistik </input>
    <input type="radio" name="met" id="option2" value="tf-idf"> TF-IDF </input>
  </form>
</div>
<div class="content">
  {% for i in range(0, leng) %}
    <ul><li><h3>{{ title[i] }}</h3><p>{{ date[i] }}</p></li></ul>
  {% endfor %}
</div>
{% endblock %}
