{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/respond.css') }}"
/>
<link
  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="box">
  <form action="#" method="post">
    <input id="search" type="text" name="search" placeholder={{search}} />
    <input id="res" type="text" name="res" placeholder="Top {{top}}" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input type="radio" name="met" id="option1" value="1"> Probabilistik </input>
    <input type="radio" name="met" id="option2" value="2"> TF-IDF </input>
  </form>
</div>
<div class="content">
  <p>Processing time : {{ time }}</p>
  <p>Jumlah dokumen yang ditemukan : {{ docnum }}</p>
  {% for i in range(0, leng) %}
    <ul><li><h3>{{ title[i] }}, Document no: {{doc[i]}}</h3><p>Score : {{ score[i] }}</p><p>Date: {{ date[i] }}</p><p>{{ body[i] }}</p></li></ul>
  {% endfor %}
</div>
{% endblock %}
